@font-face {
	font-family: 'iconfont';
	src:url('../fonts/linecons/linecons.eot');
	src:url('../fonts/linecons/linecons.eot?#iefix') format('embedded-opentype'),
		url('../fonts/linecons/linecons.woff') format('woff'),
		url('../fonts/linecons/linecons.ttf') format('truetype'),
		url('../fonts/linecons/linecons.svg#linecons') format('svg');
	font-weight: normal;
	font-style: normal;
}

.icon:before {
	font-family: 'iconfont';
	speak: none;
	font-size:24px;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	display: inline-block;
	margin-right: 0.6em;
	-webkit-font-smoothing: antialiased;
}
.icon-shezhi:before { content: "\e661"; }

.icon-fanhui:before { content: "\f007a"; }

.icon-fankui:before { content: "\e609"; }

.icon-wode:before { content: "\e626"; }

.icon-xiajia:before { content: "\e615"; }

.icon-caipin:before { content: "\e65e"; }

.icon-gonggongxinxishezhi:before { content: "\e673"; }

.icon-zhuxiao:before { content: "\e69c"; }

.icon-pinglunguanli:before { content: "\e636"; }

.icon-guanyu:before { content: "\e639"; }

.icon-caozuorizhi:before { content: "\e63c"; }

.icon-shangjia:before { content: "\e63a"; }

.icon-shouyeshouye:before { content: "\e653"; }

.icon-renyuanguanli:before { content: "\e605"; }

.icon-caipinguanli:before { content: "\e702"; }

.icon-luru:before { content: "\e632"; }


