@font-face {
	font-family: 'iconfont';
	src:url('../fonts/linecons/linecons.eot');
	src:url('../fonts/linecons/linecons.eot?#iefix') format('embedded-opentype'),
		url('../fonts/linecons/linecons.woff') format('woff'),
		url('../fonts/linecons/linecons.ttf') format('truetype'),
		url('../fonts/linecons/linecons.svg#linecons') format('svg');
	font-weight: normal;
	font-style: normal;
}

.icon:before {
	font-family: 'iconfont';
	speak: none;
	font-size:24px;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	display: inline-block;
	margin-right: 0.6em;
	-webkit-font-smoothing: antialiased;
}
.icon-shezhi:before { content: "\f0003"; }

.icon-fankui:before { content: "\e609"; }

.icon-wode:before { content: "\e626"; }

.icon-caozuorizhi:before { content: "\e615"; }

.icon-7:before { content: "\e61b"; }

.icon-zhuxiao:before { content: "\e61e"; }

.icon-shangjia:before { content: "\e63a"; }

.icon-10107:before { content: "\e66c"; }

.icon-renyuanguanli:before { content: "\e605"; }

.icon-caipinguanli:before { content: "\e702"; }

.icon-caipin:before { content: "\e65a"; }

.icon-shouye_shouye:before { content: "\e603"; }

.icon-luru:before { content: "\e632"; }

.icon-guanyu:before { content: "\e689"; }

