<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- namespace命名空间，作用就是对sql进行分类化管理，理解sql隔离 注意：使用mapper代理方法开发，namespace有特殊重要的作用，namespace等于mapper接口地址 -->
<mapper namespace="digitalCanteenSSM.mapper.ClickCountMapper">

	<!-- 获取点击量 -->
	<select id="getClickCount" resultType="Integer">
		SELECT ctclickcount.ClickCount
		FROM ctclickcount
		WHERE ctclickcount.ClickID = 1
	</select>
	
	<!-- 更新点击量 -->
	<select id="updateClickCount" parameterType="Integer">
		UPDATE ctclickcount
		SET ctclickcount.ClickCount = #{clickCount}
		WHERE ctclickcount.ClickID = 1
	</select>

</mapper>
